body, html {
  height: 100%;
  margin: 0;
}

/* Windows-style menu checkboxes */
.dropdown-menu .form-check {
  position: relative;
  padding-left: 28px;
  margin-bottom: 0.25rem;
  user-select: none;
}
