/* src/modules/3dview.css */
#three-container {
  width: 100%;
  height: 100%;
  display: block;
}

#three-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

#leftfloat {
  position: absolute;
  top: 24px;
  left: 10px;
  z-index: 10;
  font-size: 16px;
  padding: 5px;
}
